.menu-slider-wrapper {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    width: 24px;
  }
}

.menu-slider {
  @include reset-list;
  @include tt-400;
  display: flex;
  overflow-x: scroll;
  color: #7e7e82;
  font-size: 16px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  // Chrome, Opera, Safari
  &::-webkit-scrollbar {
    display: none;
  }

  padding-left: 16px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }

  @media screen and (min-width: 1120px) {
    padding-left: 34px;
    flex-wrap: wrap;
  }

  &__slide {
    &--active {
      .menu-slider__slide-btn {
        border: 2px solid $light-green-blue;
        border-radius: 6px;
      }
    }
  }

  &__slide-btn {
    @include reset-btn;
    // padding: 8px 16.54px;
    // немного не по канону, но шо поделать:
    padding: 8px 14.54px;
    white-space: nowrap;
  }
}
